/* ---------------- general css for all pages ---------------- */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8em;
}

.links {
    text-decoration: none;
    color: #353535;
}

/* -------------- everything below will modify main page ------------ */
.main-header-container {
    display: flex;
    align-items: stretch;

    height: 4em;
    border-radius: 20px;

    background: 
        rgba(255, 255, 255, 0.4) 
        url(../images/foodheader.jpg);
    background-blend-mode: lighten;
    background-position-x: 0em;
    background-position-y: -16em;
}

.main-header-content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0em 1.5em 0em 0.5em;
    border-radius: 20px;

    background-color: rgba(255, 241, 212, 0.822);
    font-size: 2.5rem;
    font-family:'Courier New', Courier, monospace;
}

.main-header-content .links {
    color: #5a5a5a;
}

.main-header-divider {
    width: 50%;
    max-width: 35em;
    padding: 0;
    margin: 3em auto;
    margin-bottom: 5em;

    color: #d3d3d3;
    text-align: center;
}

.main-content-container {
    height: auto;
    width: 60%;
    margin: auto;
    padding: 2em 3em 2em 3em;
    border-style: solid;
    border-color: #6d4522;
    border-radius: 20px;
    border-width: 2px;

    background-color: rgb(255, 246, 228);
    /* text-align: center; */
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.main-list-of-recipes {
    list-style: none;
    list-style-position: inside;

    width: 50%;
    max-width: 35em;
    padding: 0;
    margin: 5em auto;

    font-size: 1.2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-list-of-recipes li {
    margin: 1em 0em 1em 0em;
    padding: 0.3em;
    border-style: solid;
    border-color: #8b8b8b;
    border-radius: 20px;
    border-width: 1px;

    text-align: center;
    font-style: italic;
}

/* ------------ everything below will modify recipe pages------------ */
.recipe-container {
    width: 80%;
    padding: 2em 0em 0em 4em;
    border: #817d4298;
    border-style:dashed;
    border-radius: 20px;
    border-width: 3px;

    background-color: #fffdf8;
}

.recipe-title {
    margin: 0em 0em 1em 0em;

    color: #707070;
    font-size: 2.5rem;
    font-weight: 700;
}

.recipe-description {
    max-width: 35em;
    margin: 0em 0em 3em 0em;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
}

.recipe-img-dish {
    width: auto;
    height: 13em;
}

.recipe-list-of-ingredients-title {
    font-size: 1.1rem;
}

.recipe-list-of-ingredients ul {
    list-style:circle;

    max-width: 35em;
    padding: 0;
    margin: 0em 1.5em 2.5em 1.5em;

    font-size: 1rem;
}

.recipe-list-of-blueprints-title {
    font-size: 1.1rem;
}

.recipe-list-of-blueprints ol {
    max-width: 35em;
    padding: 0;
    margin: 0em 1.5em 2.5em 1.5em;

    font-size: 1rem;
}

.recipe-list-of-blueprints li {
    padding: 0;
    margin: 0em 0em 0.5em 0em;
}